.img-1 {
    background-image: url(../img/Catalog-3/11.2021/IMG_1325.jpeg);
}

.img-2 {
    background-image: url(../img/Catalog-3/11.2021/IMG_1326.jpeg);
}

.img-3 {
    background-image: url(../img/Catalog-3/11.2021/IMG_1327.jpeg);
}

.img-4 {
    background-image: url(../img/Catalog-3/11.2021/IMG_1328.jpeg);
}

.img-5 {
    background-image: url(../img/Catalog-3/11.2021/IMG_1331.jpeg);
}