.img-1 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1332.jpeg);
}

.img-2 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1333.jpeg);
}

.img-3 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1334.jpeg);
}

.img-4 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1335.jpeg);
}

.img-5 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1336.jpeg);
}