.img-1 {
    background-image: url(../img/Catalog-4/IMG_1486.jpeg);
}

.img-2 {
    background-image: url(../img/Catalog-4/IMG_1487.jpeg);
}

.img-3 {
    background-image: url(../img/Catalog-4/IMG_1488.jpeg);
}

.img-4 {
    background-image: url(../img/Catalog-4/IMG_1489.jpeg);
}

.img-5 {
    background-image: url(../img/Catalog-4/IMG_1490.jpeg);
}

.img-6 {
    background-image: url(../img/Catalog-4/IMG_1491.jpeg);
}

.img-7 {
    background-image: url(../img/Catalog-4/IMG_1492.jpeg);
}

.img-8 {
    background-image: url(../img/Catalog-4/IMG_1493.jpeg);
}

.img-9 {
    background-image: url(../img/Catalog-4/IMG_1494.jpeg);
}

.img-10 {
    background-image: url(../img/Catalog-4/IMG_1495.jpeg);
}

.img-11 {
    background-image: url(../img/Catalog-4/IMG_1496.jpeg);
}

.img-12 {
    background-image: url(../img/Catalog-4/IMG_1497.jpeg);
}

.img-13 {
    background-image: url(../img/Catalog-4/IMG_1498.jpeg);
}

.img-14 {
    background-image: url(../img/Catalog-4/IMG_1499.jpeg);
}

.img-15 {
    background-image: url(../img/Catalog-4/IMG_1500.jpeg);
}

.img-16 {
    background-image: url(../img/Catalog-4/IMG_1501.jpeg);
}

.img-17 {
    background-image: url(../img/Catalog-4/IMG_1502.jpeg);
}

.img-18 {
    background-image: url(../img/Catalog-4/IMG_1503.jpeg);
}

.img-19 {
    background-image: url(../img/Catalog-4/IMG_1504.jpeg);
}

.img-20 {
    background-image: url(../img/Catalog-4/IMG_1505.jpeg);
}

.img-21 {
    background-image: url(../img/Catalog-4/IMG_1506.jpeg);
}

.img-22 {
    background-image: url(../img/Catalog-4/IMG_1507.jpeg);
}

.img-23 {
    background-image: url(../img/Catalog-4/IMG_1508.jpeg);
}

.img-24 {
    background-image: url(../img/Catalog-4/IMG_1509.jpeg);
}

.img-25 {
    background-image: url(../img/Catalog-4/IMG_1512.jpeg);
}

.img-26 {
    background-image: url(../img/Catalog-);
}

.img-27 {
    background-image: url(../img/Catalog-);
}

.img-28 {
    background-image: url(../img/Catalog-);
}

.img-29 {
    background-image: url(../img/Catalog-);
}

.img-30 {
    background-image: url(../img/Catalog-);
}

.img- {
    background-image: url(../img/Catalog-);
}

.img- {
    background-image: url(../img/Catalog-);
}