.img-1 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1332.jpeg);
}

.img-2 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1333.jpeg);
}

.img-3 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1334.jpeg);
}

.img-4 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1335.jpeg);
}

.img-5 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1336.jpeg);
}

.img-6 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1449.jpeg);
}

.img-7 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1450.jpeg);
}

.img-8 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1451.jpeg);
}

.img-9 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1453.jpeg);
}

.img-10 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1454.jpeg);
}

.img-11 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1455.jpeg);
}

.img-12 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1456.jpeg);
}

.img-13 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1457.jpeg);
}

.img-14 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1458.jpeg);
}

.img-15 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1459.jpeg);
}

.img-16 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1460.jpeg);
}

.img-17 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1461.jpeg);
}

.img-18 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1463.jpeg);
}

.img-19 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1465.jpeg);
}

.img-20 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1466.jpeg);
}

.img-21 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1467.jpeg);
}

.img-22 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1468.jpeg);
}

.img-23 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1469.jpeg);
}

.img-24 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1470.jpeg);
}

.img-25 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1471.jpeg);
}

.img-26 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1472.jpeg);
}

.img-27 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1474.jpeg);
}

.img-28 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1475.jpeg);
}

.img-29 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1476.jpeg);
}

.img-30 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1477.jpeg);
}

.img-31 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1478.jpeg);
}

.img-32 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1479.jpeg);
}

.img-33 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1480.jpeg);
}

.img-34 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1481.jpeg);
}

.img-35 {
    background-image: url(../img/Catalog-2/11.2021/IMG_1482.jpeg);
}